:root {
    --primary-color: #7AA2A8;
    --secondary-color: #E4FF96;
    --accent-color: #B3D5DA;
    --main-font-color: #223365;
}

* {
    font-family: monospace !important;
    font-weight: 900;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
}

body {
    background-color: var(--primary-color);
}

